<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta property="og:title" content="{{= it.title ||  '' }}" />
  <meta property="og:type" content="{{= it.type || 'article' }}" />
  <meta property="og:image" content="{{= it.image || '' }}" />
  <meta property="og:url" content="{{= it.url || '' }}" />

  <title>{{= it.title || '' }}</title>

  {{## def.style: #}}{{# def.style }}
</head>
<body>
  {{## def.body: #}}{{# def.body }}
  {{## def.script: #}}{{# def.script }}
</body>
</html>
