<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">

<meta property="og:title" content="{{subsName}}" />
<meta property="og:description" content="Live gallery of {{subsName}}. Powered by Jepret Story." />
<meta property="og:image:type" content="image/jpeg"/>
<meta property="og:image:width" content="640"/>
<meta property="og:image:height" content="640"/>

<meta name='twitter:card' content='gallery' />
<meta name='twitter:title' content='{{subsName}}' />
<meta name='twitter:site' content='@jepretstory' />
<meta name='twitter:image' content='{{subs.subs_cover_image}}'>

<meta name="twitter:app:country" content="US" />
<meta name="twitter:app:name:googleplay" content="Jepret Story" />
<meta name="twitter:app:id:googleplay" content="com.dycode.jepretstory" />

<meta property="og:image" content="{{ httpSchema }}://{{ staticHost }}/images/jepretcloudlogo_b.png"/>